.mainHeader{
  background-color: var(--bs-color02);
  border-bottom: 3px solid var(--bs-color01);
}

.header-title{
  color: var(--bs-text01);
  font-weight: bold;
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.profile-icon{
  padding: 5px;
  border-radius: 50%;
  border: 1.5px solid  var(--bs-text01);
  background-color: var(--bg-light);
  margin: 5px;
}

.search-button{
  border: none;
  background-color: var(--bg-color02);
} 

.header-btns{
  margin: 5px;
  margin: 5px;
  width: 20%;
  text-align: center;
}